<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.shop.mapper.AdminMapper">

	<insert id="bookEnroll">
		insert into vam_book(bookId,bookName, authorId, publeYear, publisher, cateCode, bookPrice, bookStock, bookDiscount, bookIntro, bookContents)
		values(book_seq.nextval, #{bookName},#{authorId},#{publeYear},#{publisher},#{cateCode},#{bookPrice}, #{bookStock}, #{bookDiscount},#{bookIntro},#{bookContents})
	</insert>

</mapper>